body {
  font-family: Helvetica;
}

#root > div {
  height: 100vh;
  display: flex;

}

.left-scene {
  flex: 0 0 60%;
  overflow: scroll;
  .listings {
    // column-count: 3;
    padding: 0px 24px;
    .col {
      padding: 0px 8px;
      padding-top: 16px;
    }
    .flat-card {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
      margin: 0px 0px;

      .price-wrap {
        font-size: 18px;
        display: flex;
      }
      .description {
        font-size: 16px;
      }

    }

  }

}

.right-scene {
  flex: 0 0 40%;
  .map {
    height: 100vh;
  }

}
