body {
  font-family: Helvetica;
}

#root > div {
  height: 100vh;
  display: flex;

}

.left-scene {
  flex: 0 0 60%;
  overflow: scroll;
  .listings {
    // column-count: 3;
    padding: 0px 24px;
    .col {
      padding: 0px 8px;
      padding-top: 16px;
    }
    .flat-card {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
      margin: 0px 0px;
      color: white;

      .price-wrap {
        font-size: 18px;
        display: flex;
        position: absolute;
        top: 10px;
        left: 16px;
      }
      .name {
        font-size: 16px;
        position: absolute;
        bottom: 10px;
        left: 16px;
      }
    }

    .active {
      // border: 2px solid black;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, .3);

    }

  }

}

.right-scene {
  flex: 0 0 40%;
  .pin {
    &:before {
      font-family: FontAwesome;
      content: '\f015';
      font-size: 26px;
      font-style: normal;
    }
  }
}
